.inline li{
	display:inline;
	margin-right: 10px;
}

.block li{
	display: block;
	margin-bottom: 10px;
}

/*permite que display inline possa ser modificado como box*/
.inline-block li{
	display: inline-block;
	margin: 10px;
	width: 100px;
	height: 100px;
	background-color: gray;

	padding: 10px;
}