table{
	border-collapse: collapse;
	float: left;
}

table, td, th{
	border: 1px solid black;
	margin-right: 10px;
}


td[colspan], td[rowspan]{
	background-color: black;
}

td[colspan="4"]{
	background-color: white
}